footer {
    background-color: var(--header-bg-color);
    color: var(--text-color);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--padding-size);
    box-shadow: var(--box-shadow);
    text-align: center;
    font-size: 14px;
    position: relative;
    text-align: center;
    margin-top: 2em;
    font-size: 1.1em;
    /* color: #888; */
}

.footerVersion {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 2px 10px;
    background: #222;
    color: #fff;
    border-radius: 6px;
    font-size: 1em;
    font-family: monospace;
    letter-spacing: 1px;
    vertical-align: middle;
}