body {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
.registerModal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
    position: fixed;
    padding: var(--modal-padding);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: var(--border);
    border-radius: var(--border-radius);
}

.registerModal form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
}

.registerModal input[type="text"], .registerModal input[type="password"] {
    width: 90%;
}

.registerModal input {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--padding-size);
}

.registerModal input[type="submit"] {
    width: 100%;
    margin-top: 1vh;
    transition: all var(--transition-time);
}

.registerModal input[type="submit"]:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-color);
    transition: all var(--transition-time);
    cursor: pointer;
}