/* school admin page specific styling */

/* Center content and header horizontally */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* everything in #content is centered fully */
#content {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* staticTable section styles */
    & #staticTable {
        margin-bottom: 1vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 5vh;
        border-bottom: 1px solid var(--text-color);
        width: 80%;

        /* Table display area */
        & #tableDisplay {
            margin-top: 5vh;
            width: 100%;
            border-collapse: collapse;
            text-align: left;
            font-size: 1rem;
            color: var(--text-color);
            /* TABLE STYLINGS ARE IN THEME.CSS */
        }
    }

    /* actionTable section styles */
    & #actionTable {
        margin-top: 5vh;
        padding-bottom: 5vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 5vh;

        /* Action display area */
        & #actionDisplay {
            margin-top: 5vh;
            width: 100%;
            border-collapse: collapse;
            text-align: left;
            font-size: 1rem;
            color: var(--text-color);

            /* TABLE STYLINGS ARE IN THEME.CSS */

            /* Style the inputs */
            & .addInputs {
                background-color: var(--background-color);
                border: none;
                border-bottom: var(--border);
                color: var(--text-color);
                outline: none;
                width: 100%;
                box-sizing: border-box;
                max-width: 100%;
            }

            & .noBorder {
                border: none;
                cursor: pointer;
            }

            & tr:nth-child(even) .addInputs {
                background-color: var(--secondary-color);
            }

            & tr:nth-child(odd) .addInputs {
                background-color: var(--background-color);
            }
        }

        & #submitActionForm {
            margin-top: 1vh;
        }
    }
}